.results {
  position: absolute;
  width: 100%;
  margin: auto;
  text-align: left;
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  align-self: center;
  z-index: 1;
  min-height: 100px;
  overflow: auto;
  max-height: 300px;
  left: 0;
  top: 70px;
}

.resultItem {
  padding: 1rem 0.5rem;
  cursor: pointer;
}

.resultItem:hover {
  background-color: white;
  color: black;
}
