.profileContainer {
  display: flex;
  width: 100%;
}

.sidebar {
  width: 33%;
  padding: 20px;
  border-right: 1px solid #ccc;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.avatar img {
  width: 100%;
  max-width: 150px;
  border-radius: 50%;
  margin-bottom: 20px;
}

.info {
  text-align: center;
}

.mainContent {
  width: 67%;
  padding: 20px;
}

.bookings,
.venues {
  margin-bottom: 40px;
}

.booking,
.venue {
  display: flex;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  margin-bottom: 10px;
  background-color: var(--light);
}

.bookingImage,
.venueImage {
  width: 100px;
  height: 100px;
  object-fit: cover;
  margin-right: 20px;
}

.venueImage {
  width: 100px;
  height: 100px;
  object-fit: cover;
}

.bookingInfo,
.venueInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h2 {
  margin: 20px 0;
}

.buttons {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-left: auto;
}

@media only screen and (max-width: 650px) {
  .profileContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .sidebar,
  .mainContent {
    width: 100%;
    padding: 10px;
  }

  .venueImage,
  .bookingImage {
    width: 80px;
    height: 80px;
  }
}

.updateFormContainer {
  position: fixed;
  left: -50%;
  top: 0;
  width: 50%;
  height: 100%;
  background-color: white;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
  transition: left 0.3s ease-in-out;
  z-index: 1000;
  padding: 20px;
}

.updateFormContainer.open {
  left: 0;
}
