/* src/Components/Calendar/Calendar.module.css */
.calendarHeader {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
}

.navButton {
  background-color: var(--background);
  color: white;
  border: none;
  padding: 5px;
  border-radius: 50px;
  cursor: pointer;
}

.currentDate {
  font-weight: bold;
  font-size: 1.2em;
}

.daysGrid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 4px;
}

.day {
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  cursor: pointer;
}

.selectedDay {
  background-color: var(--background);
  color: white;
}

.inRangeDay,
.hoveringDay {
  background-color: var(--bluish);
}

.today {
  background-color: var(--background-light);
  color: white;
}

.unavailableDay {
  background-color: #f8d7da;
  pointer-events: none;
}

.pastDay {
  background-color: #e0e0e0;
  pointer-events: none;
}

.guests {
  margin-top: 20px;
}

.guestLabel {
  display: block;
  margin-bottom: 10px;
}

.guestSelect {
  width: 20%;
  padding: 10px;
}

.totalPrice {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.priceAmount {
  font-weight: bold;
}
