@font-face {
  font-family: "Poppins";
  src: url("../src/Assets/Fonts/Poppins/Poppins-Light.ttf");
}
:root {
  --background: #73563d;
  --background-lighter: #bf7b3f;
  --bluish: #bbe2f2;
  --footer: #a66641;
  --light: #d9c9ba;
  --white: #fff;
  --black: #000;
  --burger: purple;
}

.page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  position: relative;
  font-family: "Poppins";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background);
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.ctaButton {
  cursor: pointer;
  font-size: 15px;
  border: 1px solid black;
  padding: 5px 10px;
  margin: 10px;
  background-color: transparent;
}

.ctaButton:hover {
  background-color: black;
  color: white;
}

a {
  text-decoration: none;
  color: inherit;
}
